
@model Category
@{
    ViewData["Title"] = "Delete";
}
<h2>
    <b>  @Model.Name</b> isimli kategoriyi silmek istiyor musunuz ?
</h2>
<form asp-controller="Category" asp-action="Delete" method="post">
    <input type="hidden" asp-for="CategoryId" />
    <button type="submit" class="btn btn-primary">Delete</button>
</form>
